<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Message</title>
</head>
<body>
    <h3>Edit your message <%=chat._id %></h3>
    <p>
        This message is sent from <b><%= chat.from %></b> to <b><%= chat.to %></b>
    </p>
    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea placeholder="Edit your message" name="msg"><%= chat.message %></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>